/*Color Pallet:
    Color1: #d3d5d7 
    Color2: #ff2734 
    Color3: #081d50
    Color4: #2d3047
    Color5: #fffcff*/

 div {
  float: left;
  text-align: left;
  letter-spacing: 3px;
  opacity: 0;
  
  transition: all .5s;
}

/* last frame */
:hover div {
  letter-spacing: 0px;
  opacity: 1;  
 
}


/*Global*/
body {
    background: #081d50;
    color: white;
  }

h1 {
    float: left;
    font-family: 'Open Sans', sans-serif;
}

/*Img Transition/Animation*/
h3 {
  color:#fff;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;    
}

p {
  color: #fff;
  font-size: .5em;
}

#cube {
  position: relative;
  width: 1000px; 
  height:1300px; 
  background: #FF8C94;
  float:left;
  margin:10px 10px 80px 10px;
  overflow: hidden;
}

#cube div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#cube figure {
  margin: 0px;
  padding: 0px;
}

#cube figure img {
  width: 100%;
  height: 100%;
}
#cube-caption { 
  font-weight: 30px;
  position: absolute; 
  z-index: 1;
  background: #2d3047;
  color: #fff;
  text-align: center;
}

.caption-top { 
  left: 0; 
  top: -100%;
  right: 0;
  height: 59%;
  -webkit-transition: top .3s linear; 
  transition: top .3s linear;
}

#cube:hover .caption-top { 
  top: 0;
}

img:hover, cube-caption, caption-top {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;

	transition: .3s ease-in-out;
}

img, cube-caption, caption-top {
	-webkit-filter: grayscale(100%) blur(10px);
	filter: grayscale(100%) blur(10px);

}

/*Links*/
ul{
  margin-top: 0;
}

li {
  list-style: none;
  float: left;
  font-family: sans-serif;
  font-size: 20pt
}

/* Base Styling*/ 
a:link,

/*Visited*/
a:visited{
  background: lightgrey;
  color: #ff2734;
  border-left: 8px solid #fff;
  width: 195px;
  display: block;
  height: 50px;
  light-height: 50px;
  text-align: center;
  text-decoration: none;
  padding: 50px;
    
  transition: all .5s;
}

a:focus,
a:hover,
a:active{
  background: grey;
  border-left: 8px solid #ff2734;
  color: #fffcff;
  padding-top: 25px;
  transition: all .5s;
  }
}