/*Color Pallet:
    Color1: #d3d5d7 
    Color2: #ff2734 
    Color3: #081d50
    Color4: #2d3047
    Color5: #fffcff*/

img {  
    width : 50%; 
  }

body {
    background: #d3d5d7;
    color: white;
  }

h1 {
    float: left;
}

ul{
  margin-top: 0;
}

li {
  list-style: none;
  float: left;
  font-family: sans-serif;
  font-size: 20pt
}

/* Base Styling*/ 
a:link,

/*Visited*/
a:visited{
  border-left: 8px solid #fff;
  width: 150px;
  display: block;
  height: 50px;
  light-height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  transition: all .5s;
}

a:focus,
a:hover,
a:active{
  background: #081d50;
  border-left: 8px solid #ff2734;
  color: #fffcff;
  padding-top: 10px;
  transition: all .5s;
  }
}