/*
ColorPallet:
    color1: #033f63
    color2: #fffffa
    color3: #f4f4f9
    color4: #3c474b
    color5: #02111b
*/

body{
    background: rgb(3, 63, 99);
}

#mNav {
    list-style: none;
    float: left;
    align-items: center;
}

ul{
    margin-top: 0;
}

/* Base Styling*/ 
#mNav:link,

/*Visited*/
#mNav:visited{
  background: #306bac;    
  border-left: 8px solid #fff;
  width: 200px;
  display: block;
  height: 32px;
  light-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .5s;
}

#mNav:focus,
#mNav:hover,
#mNav:active{
  background: #3c474b;
  border-left: 8px solid #FF9500;
  color: #f4f4f9;
  margin-left: 25px;
  padding-top: 10px;
  transition: all .5s;
}

p{
    color: #f4f4f9;
}

#head1{
    color: #fffffa;
    text-align: center;
    letter-spacing: 0.5em;
}

#head2, #head3{
    background: #3c474b;
    color: #f4f4f9;
    text-align: center;
}

article{
    background: #306bac;
    text-align: center;
}

#as3{
    margin-left: 0px;
    background: #306bac;
    text-align: center;
}

#bottom{
    color: white;
    text-align: center;
    font-size: 1.5em;
        padding: 50px
}

li{
    color: white;
    text-decoration: none;
    list-style: none;
    
}