/*Color Pallet:
    Color1: #d3d5d7 
    Color2: #ff2734 
    Color3: #081d50
    Color4: #2d3047
    Color5: #fffcff*/

/*GLOBAL*/
@media screen and (max-width: 768px){

    body{
    background: #d3d5d7;
    }

}
body {
    background-image: url(https://c2.staticflickr.com/6/5655/23754461182_e04cf370ca_b.jpg);
    margin: -16x;
    
}

.fb{
    margin-left: 380px;
}

h1, h2{
    color: white;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    float: left;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h3 {
  color:#fff;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;    
}

p {
  color: #fff;
  font-size: 1.5em;
    text-align: center;
}

blockquote{
    font-size: 2em;
    text-align: center;
    color: white;
}

img {  
    width : 50%; 
  }

#nameTitle{
    text-align: center;
}

#me{
    width: 250px;
    margin-left: 350px;
    
    margin-top: 55px;
}

article,
aside{
  float: left;
}

article{
  color: white;
  background: #081d50;
  padding: 1.785714285714%; /* 10px / 560px = 0.01785714285714*/
  margin: 1%; /* 10px / 1000px = 0.01*/
  font-size: .75em;
    text-align: center;
}

aside{
  color: white;
  background: #2d3047;
  padding: 2.777777777778%; /* 10px / 360px = 0.02777777777778*/
  margin: 1%; /* 10px / 1000px = 0.01*/
  font-size: .75em;
    text-align: center;
}

#title{
    text-align: center;
    font-size: 4em;
}

#return{
    text-align: right;
}


#empty{
    margin: 30px;
    padding: 30px;
}


/*FOOTER*/

#contact{
    color: white;
    text-align: center;
    width: 100%;
    height: 5em;
    line-height: .3em;
    padding-top: 1em;
    padding-bottom: 7em;
    margin-top: 50px;
    margin-bottom: 6em;
    letter-spacing: .04em;
    font-weight: 100;
        font-size: 1.5em;
}

#w16{
    color: white;
    list-style: none;

    margin: 300px;
    background: #ff2734;
}

/*NAV*/

ul{
  margin-top: 0;
}

li, #main{
  list-style: none;
  float: left;
  font-family: sans-serif;
  font-size: 20pt;

}

#main:link,

#main:visited{
  background: lightgrey;
  color: #ff2734;
  border-bottom: 8px solid #fff;
  width: 200px;
  display: block;
  height: 50px;
  light-height: 50px;
  text-align: center;
  text-decoration: none;
  padding: 50px;
    
  transition: all .5s;
}

#main:focus,
#main:hover,
#main:active{
  background: grey;
  border-bottom: 8px solid #ff2734;
  color: #fffcff;
  padding-top: 25px;
  transition: all .5s;
  }


/*INDEX*/

/*Animation Persona*/

#f1_container {
  position: inherit;
  margin: 50px;
    margin-top: 50px;
  width: 800px;
  height: 440px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

/*ABOUT*/

.css-slideshow{
   position: relative;
   max-width: px;
   height: 300px;
   margin: 5em auto .em auto;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}
.css-slideshow figure{
   opacity:0;
}

figure:nth-child(1) {
   animation: xfade 8s 7s infinite;
}
figure:nth-child(2) {
   animation: xfade 8s 5s infinite;
}
figure:nth-child(3) {
   animation: xfade 8s 3s infinite;
}


@keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}


/*PORTFOLIO*/

.intro {
  padding: 80px 0 60px 0;
  text-align: center;
  color: #fff;
  margin: auto;
  width: 800px;
}
.intro .intro__title {
  font-weight: 200;
  font-size: 32px;
  color: #fff;
}
.intro .intro__body {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  opacity: 0.48;
  padding: 0 160px;
  margin: 0;
}

#slider-wrapper {
  width: 440px;
  height: 440px;
  margin: 50px auto;

    margin-left: 250px;
    position: absolute;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#s1 {
  padding: 6px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s2 {
  padding: 6px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s3 {
  padding: 6px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s4 {
  padding: 6px;
  background: white;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50;
}

.inner-wrapper {
  width: 440px;
  height: 440px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

.control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide img {
  width: 25%;
  float: left;
}
