/*Color Pallet:
    Color1: #d3d5d7 
    Color2: #f93943 
    Color3: #081d50
    Color4: #2d3047
    Color5: #fffcff*/

/*Global*/
body {
    background: #d3d5d7;
    
}
h1, h2{
    color: white;
    font-size: 2.5em;
}

blockquote{
    font-size: 40pt;
    text-align: center;
}



img {  
    width : 50%; 
  }
/*Layout*/

/*Typography*/
p{
    font-size: 1.5em;
}

/*Navigation*/

nav{
    text-align: right;
}

a {
   background: lightblue;
   border-radius:;
   height: 50px;
   width: 100px;
   text-decoration: none;
}

li{
   text-decoration: none;
   list-style: none;
   font-size: 1.5em;
  
}
